@page
@model SinusSkateboards.UI.Pages.Shop.OrderResultModel
@{
}

<div class="container">
    <div class="row my-5">
        <div class="col text-center my-5">
            <i class="fa-solid fa-check" style="font-size: 50px;"></i>
            <h1>Your Order Is Completed!</h1>
            <span>Order number: #@Model.OrderNumber</span>
            <p>Thank you for your order! Your order is being processed and will be completed within 3-6
                hours. You will receive an email confirmation when your order is completed.
            </p>
        </div>
    </div>
</div>