<div class="container">
    <div class="row text-center">
        <div class="col-12 my-5">
            <button class="btn btn-primary my-5">My Orders</button>
            <button class="btn btn-primary my-5">Billing Adress</button>
            <button class="btn btn-primary my-5">Shipping Adress</button>
            <button class="btn btn-primary my-5">Reset Password</button>
        </div>
    </div>
</div>
