@page
@model SinusSkateboards.UI.Pages.Account.OrderDetailModel
@{
}

<partial name="~/Pages/Account/_PartialUserMenu.cshtml"></partial>

<div class="container px-2">
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">
            <thead>
                <tr class="bg-light">
                    <th scope="col"></th>
                    <th scope="col">Product</th>
                    <th scope="col" class="text-end">Price</th>
                    <th scope="col" class="text-end"><span>Quantity</span></th>
                    <th scope="col" class="text-end"><span>Total</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="~/images/products/1234-1-1.png" width="100"></td>
                    <td class="align-middle">Sinus Longboard</td>
                    <td class="text-end align-middle">$0.99</td>
                    <td class="text-end align-middle">5</td>
                    <td class="text-end align-middle"><span class="fw-bolder">$4.95</span></td>
                </tr>
                <tr>
                    <td><img src="~/images/products/1234-1-1.png" width="100"></td>
                    <td class="align-middle">Sinus Longboard</td>
                    <td class="text-end align-middle">$0.99</td>
                    <td class="text-end align-middle">5</td>
                    <td class="text-end align-middle"><span class="fw-bolder">$4.95</span></td>
                </tr>
                <tr>
                    <td><img src="~/images/products/1234-1-1.png" width="100"></td>
                    <td class="align-middle">Sinus Longboard</td>
                    <td class="text-end align-middle">$0.99</td>
                    <td class="text-end align-middle">5</td>
                    <td class="text-end align-middle"><span class="fw-bolder">$4.95</span></td>
                </tr>
                <tr>
                    <td><img src="~/images/products/1234-1-1.png" width="100"></td>
                    <td class="align-middle">Sinus Longboard</td>
                    <td class="text-end align-middle">$0.99</td>
                    <td class="text-end align-middle">5</td>
                    <td class="text-end align-middle"><span class="fw-bolder">$4.95</span></td>
                </tr>
                <tr>
                    <td><img src="~/images/products/1234-1-1.png" width="100"></td>
                    <td class="align-middle">Sinus Longboard</td>
                    <td class="text-end align-middle">$0.99</td>
                    <td class="text-end align-middle">5</td>
                    <td class="text-end align-middle"><span class="fw-bolder">$4.95</span></td>
                </tr>
                <tr>
                    <td><img src="~/images/products/1234-1-1.png" width="100"></td>
                    <td class="align-middle">Sinus Longboard</td>
                    <td class="text-end align-middle">$0.99</td>
                    <td class="text-end align-middle">5</td>
                    <td class="text-end align-middle"><span class="fw-bolder">$4.95</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-end"></td>
                    <td class="text-end">Total:</td>
                    <td class="text-end"><span class="fw-bolder">$455.95</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>